*~
#*
bayeselo
cachegrind.out*
*.d
job_*
leiserchess
log.awsrun
*.o
perf.data*
*.pgn
*.class
*.jar
player/cpu*
player/profiling*
player/tmp*
player/kmt*
player/beta*
player/lmr*
player/lookup*
autotester/new*
player/new*
*.swp
tmp
player/*.txt
autotester/*.txt
